@import 'share/variables';

.result-section {
  background-color: $base-color1;
  height: 400px;
  width: 700px;
  padding: 1rem;

  &__head {
    @extend %default-title;
    font-size: 3rem;
    font-family: $font-family2;
    background:linear-gradient(transparent 50%, $thema-color2-dark 0%);
    text-align: center;
    margin: 3rem 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__lead {
    @extend %default-title;
    font-family: $font-family2;
    text-align: center;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    & span {
      background:linear-gradient(transparent 70%, $thema-color2-dark 0%);
    }
    &__image {
      width: 3rem;
      height: 3rem;
      margin-right: 0.2rem;

      & img {
        width: inherit;
        height: inherit;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
.result-wrapper {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}
.result-monster {
  position: relative;
  margin-right: 1rem;

  &__image {
    width: 11rem;
    height: 11rem;
    border-radius: 50%;

    & img {
      width: inherit;
      height: inherit;
      object-fit: cover;
    }
  }
  &__mark {
    font-size: 2rem;
    font-weight: bold;
    color: $point-color1;
    text-align: center;
    border: 5px solid $point-color1;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px $base-color3;
    padding: 0 1rem;
    transform: rotate(-20deg);
    transition: 0.2s;
    position: absolute;
    top: 3rem;
    left: -1rem;
    z-index: 7;
  }
}
.mark-hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);
}
.result-unit {
  &__top {
    width: 100%;
    height: 5rem;
    line-height: 3rem;
    text-align: center;
    background-color: $base-color3;
    border: 1px solid $base-color2;
    border-radius: 5px;
    padding: 1rem;
    margin: 0 auto;

    & span {
      font-size: 2rem;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    background-color: $base-color3;
    border: 1px solid $base-color2;
    border-radius: 5px;
    padding: 1rem;
    margin: 0.5rem 1rem;

    & span {
      font-size: 2rem;
    }
  }
}

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
  .result-section {
    width: 90vw;

    &__lead {
      font-size: 2rem;

      &__image {
        width: 2rem;
        height: 2rem;
      }
    }
  }
  .result-monster {
    &__image {
      width: 10rem;
      height: 10rem;
    }
  }
  .result-unit {
    &__item {
      margin: 0.5rem 0.5rem;

      & span {
        font-size: 1.5rem;
      }
    }
  }
}

/* 630px以下の際に適用される設定 */
@media screen and (max-width:630px) {
  .result-section {
    &__head {
      font-size: 2.5rem;
    }
    &__lead {
      font-size: 2rem;
    }
  }
  .result-monster {
    &__image {
      width: 8rem;
      height: 8rem;
    }
    &__mark {
      font-size: 1.8rem;
      top: 2.5rem;
    }
  }
  .result-unit {
    &__item {
      font-size: 0.8rem;
      & span {
        font-size: 1.2rem;
      }
    }
  }
}

/* 500px以下の際に適用される設定 */
@media screen and (max-width:500px) {
  .result-unit {
    &__list {
      flex-wrap: wrap;
    }
    &__top {
      height: auto;
      line-height: 2rem;
      padding: 0.5rem;

      & span {
        font-size: 1.5rem;
      }
    }
    &__item {
      padding: 0.2rem;
      margin: 0.2rem;

      & span {
        font-size: 1.2rem;
      }
    }
  }
}

/* 425px以下の際に適用される設定 */
@media screen and (max-width:425px) {
  .result-section {
    &__head {
      font-size: 2rem;
      margin: 3rem 0 1rem;
    }
  }
  .result-monster {
    &__image {
      width: 5rem;
      height: 5rem;
    }
    &__mark {
      font-size: 0.8rem;
      padding: 0 0.8rem;
      top: 2rem;
    }
  }
  .result-unit {
    &__top {
      height: 2rem;
      line-height: 1rem;
      padding: 0.5rem;

      & span {
        font-size: 1.2rem;
      }
    }
  }
}