@import 'share/variables';

%default-category {
  color: #fff;
  border: 3px double;
  border-color: $base-color1;
  padding: 0.5rem;
}

.task-section {
  background-color: $base-color3;
  display: flex;
  height: 500px;

  &__left {
    width: 500px;
  }
  &__right {
    width: 300px;
  }
  &__bottom {
    display: none;
  }
}

// task tab
.task-unit {

  &__items {
    margin-bottom: 0.2rem;
    display: flex;
  }
  &__item {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;

    &--genre {
      @extend %default-category;
      background-color: $thema-color2;
      margin-right: 0.5rem;
    }
    &--date {
      @extend %default-category;
      background-color: $thema-color3-light;
      margin-right: 0.5rem;
    }
    & img {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      object-fit: cover;
    }
    & span {
      color: #fff;
      border: 3px double;
      border-color: $base-color1;
      background-color: $thema-color1-dark;
      margin-right: 0.5rem;
      padding: 0.5rem;
    }
  }
  &__btn {
    @extend %default-btn;
    color: $base-color1;
    background-color: $thema-color3-light;

    &:hover {
      background-color: $thema-color3;
    }
  }
  &__tags {
    width: 400px;
    height: 3rem;
    overflow: hidden;
    margin: 0.5rem auto 0;

    &__tag-area {
      height: 3rem;
      line-height: 2rem;
      margin-top: 0.5rem;
      overflow: auto;
      white-space: nowrap;
    }
    &__item {
      color: $thema-color1;
      background-color: $base-color3;
      border: 1px solid $thema-color1;
      border-radius: 0.8rem;
      padding: 0.3rem;
      margin-right: 0.2rem;
    }
  }
  &__body {
    height: 200px;
    width: 400px;
    background-color: $base-color3;
    margin: 0 auto 2rem;
    padding: 2rem 1rem 1rem;
    white-space: pre-wrap;
    overflow: auto;
  }
}

// monster tab
.task-monster {
  width: inherit;
  height: 384px;
  position: relative;

  &__visual-area {
    height: 50%;
    background-color: $thema-color3;
    text-align: center;

    &--img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__mark {
    font-size: 3rem;
    font-weight: bold;
    color: $point-color1;
    text-align: center;
    border: 10px solid $point-color1;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px $base-color3;
    padding: 0 1rem;
    transform: rotate(-20deg);
    position: absolute;
    top: 4rem;
    left: 5rem;
    z-index: 7;
  }
  &__heading {
    font-size: 2rem;
    font-family: $font-family2;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;

    & :last-child {
      margin-left: auto;
    }

    &--large {
      font-size: 2rem;
      font-weight: bold;
    }
  }
  &__text {
  }
  &__lead {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

// task-section__right内
.chat-area {
  height: 350px;
  width: auto;
}

.action-area {
  height: 150px;
  width: auto;
  text-align: center;
  display: flex;
  justify-content: center;

  &--left {
    flex-grow: 1;
    height: inherit;
  }
  &__complete-btn {
    @extend %default-btn;
    width : 100%;
    height: 150px;
    color: $base-color3;
    background-color: $thema-color2;
    line-height: 7rem;

    &:hover {
      background-color: $thema-color2-dark;
    }
    &--disabled {
      @extend %default-btn;
      width : 100%;
      height: 150px;
      color: $base-color3;
      background-color: $base-color2;
      line-height: 7rem;
      pointer-events: none;
    }
  }
  &__keep-btn {
    @extend %default-btn;
    color: $base-color3;
    background-color: $thema-color1;
    width : 100%;

    &:hover {
      background-color: $thema-color1-dark;
    }
  }
  &--right {
    display: flex;
    flex-direction: column;
  }
  &__delete-btn {
    @extend %default-btn;
    color: $base-color1;
    background-color: $base-color2;

    &:hover {
      background-color: $point-color1;
    }
  }
  &__back-btn {
    @extend %default-btn;
    color: $base-color1;
    background-color: $thema-color3-light;
    line-height: 2.5rem;
    flex-grow: 1;

    &:hover {
      background-color: $thema-color3;
    }
  }
}



// tab
#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
  width: 50%;
}

#tab-menu li a {
  color: $base-color1;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: $thema-color3;
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.5) inset;
}

#tab-menu .active {
  background: $base-color1;
  color: $thema-color3;
  box-shadow: none;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  height: 444px;
  padding: 30px;
  background: $base-color1;
}

#tab-contents p {
  color: $thema-color3;
}

#tab3, #tab3-hide {
  display: none;
}

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {

  .task-section {

    &__right {
      display: none;
      position: relative;
    }
  }

  .task-unit__body {
    margin: 0 auto 1rem;
  }

  #tab3 {
    display: block;
  }

  .task-section__bottom {
    display: flex;

    &__btn {
      font-size: 3rem;
      color: $thema-color3;
      position: absolute;
      right: 0;
    }
  }

  #tab3-hide {
    display: inline;
  }

  #tab-contents .tab {
    height: 444px;
    overflow: auto;
    padding: 15px;
  }
}

/* 600px以下の際に適用される設定 */
@media screen and (mafx-width:600px) {
  .task-section__left {
    width: 400px;
    margin: 0 auto;
  }

  .task-unit__body {
    width: 350px;
  }
}