@import 'share/variables';
@import 'tasks/task-card';
@import 'tasks/task-show';
@import 'tasks/task-form';

.main-container {
  @extend %default-container;

  &__room-unit{
    text-align: right;

    &__head {
      margin: 0 2rem;
      position: relative;
      cursor: pointer;

      &--icon {
      }
    }
  }
}

.room-box {
  width: 18rem;
  height: auto;
  background-color: $base-color3;
  padding: 1rem 1rem 4rem;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 2rem;
  top: 7rem;
  z-index: 2;
  display: none;

  &__lead {
    font-weight: bold;
  }
  &__list {
    border: 1px solid $base-color2;
    padding: 1rem;

    &__head {
      display: flex;
      align-items: center;
    }
    &__image{
      width: 3rem;
      height: 3rem;
      border-radius: 50%;

      & img {
        width: inherit;
        height: inherit;
        object-fit: cover;
      }
    }
    &__item {
     margin: 0.5rem;

      &--bold {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0.5rem;
      }
    }
  }
  &__btn {
    @extend %default-btn;
    color: $base-color1;
    background-color: $thema-color3-light;
    position: absolute;
    right: 1rem;
    left: 1rem;
    bottom: 1rem;

    &:hover {
      background-color: $thema-color3;
    }
  }
}

.main-top {
  display: flex;
  justify-content: left;
  align-items: center;

  &__title {
    @extend %default-title;

    margin: 1rem 1rem 1rem 0;
  }
  &__link a{
    font-size: 20px;
    margin-left: auto;
    color: $thema-color3;
    text-decoration: none;
    transition-duration: 0.5s;

    &:hover {
      color: $thema-color2-dark;
    }
  }
  &__sort {
    padding-bottom: 2rem;
    text-align: center;

    &__link a{
      color: $thema-color2;
      text-decoration: none;
      font-size: 1.5rem;
      transition-duration: 0.5s;

      &:hover {
        color: $point-color1;
      }
    }
  }
}



.tag-wrapper {
  height: 3rem;
  overflow: hidden;

  &__tag-box {
    width: 80%;
    height: 5rem;
    line-height: 2rem;
    margin: 0 auto 1rem;
    overflow: auto;
    white-space: nowrap;
  }
  &__item {
    color: $thema-color1;
    background-color: $base-color3;
    border: 1px solid $thema-color1;
    border-radius: 0.8rem;
    text-decoration: none;
    padding: 0.3rem 0.5rem;
    margin-right: 0.2rem;
    transition: .3s;

    &:hover {
      color: $base-color3;
      background-color: $thema-color1-dark;
    }
    &--active {
      color: $base-color3;
      background-color: $thema-color1;
      border: 1px solid $base-color3;
    }
  }
}

.task-wrapper {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & a {
    text-decoration: none;
    transition: transform 300ms ease;

    &:hover {
      transform: scale(0.9, 1.1);
    }
  }
}

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {

}

/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
  .main-top {
    &__link {
      margin-left: 1rem;

      & span {
        display: none;
      }
    }
  }
}
