<div class="template-task-container">
  <span class="template-task-container__sticky off" id="slideL">
    <span class="template-task-container__sticky--icon"><i class="far fa-copy"></i></span>
    <span class="template-task-container__sticky--word">テンプレート一覧</span>
  </span>
  <div class="template-task-container__card-area slide-inner" id="slideL_width">
    <%= render 'tasks/slide-inner', {tag: tag, template_tasks: template_tasks, tag_list: tag_list}  %>
  </div>
</div>
