<div class="template-task-container">
  <span class="template-task-container__icon off" id="slideL">テンプレート一覧</span>
  <div class="template-task-container__card-area slide-inner">
    <%= render 'tasks/slide-inner', {tag: tag, template_tasks: template_tasks, tag_list: tag_list}  %>
  </div>
</div>
