<div class="task-form-container">
  <h1 class="task-form-container__title">タスク編集</h1>
  <%= render 'devise/shared/error_messages', resource: @task %>
  <%= render 'tasks/task_form', task: @task %>
</div>