<div class="about-content">
  <h2 class="about-content__title">シェアカジ！とは</h2>
  <p class="about-content__text">
    家事応援・共有アプリケーション。<br>
    家事のタスク進捗を同居者と共有し、その達成を通知します。（一人でも使用可能）<br>
    タスク達成により経験値を入手してレベルアップするなど、ゲーム要素も盛り込まれています。
  </p>
  <h3 class="about-content__title">生まれたきっかけ</h3>
  <p class="about-content__text">
    同居者と「家事」について揉めた経験があります。<br>
    家事を苦手に感じながらも毎日頑張っているのに、どうして私ばかり家事をして相手は手伝ってくれないのだろう、と。<br>
    しかし話し合ってみると、私は家事をしている事に対して何も反応をもらえないことに不満を持ち、<br>
    同居相手はそもそも、私がどんな家事をしているかすら知らず、協力するきっかけを失っていました。<br>
  </p>
  <p class="about-content__text">
    そのため、以下の機能を実装することで家事を快適に従事できると考えました。
  <p class="about-content_text">
    ・家事タスク達成時にアプリ画面で自身を称賛するメッセージ表示<br>
    ・同居者と家事タスクを共有し、互いに進行状況を把握<br>
    ・タスク達成時にタスク共有者へ通知が送信され、感謝メッセージを送信するよう提案<br>
    ・タスク達成時にポイント付与されるゲーム性。（苦手分野を登録時設定しポイントを他より多く付与）<br>
  </p>
  <p class="about-content__text">
    コロナ禍により自宅で過ごす時間が増えると、家事をしている様子をお互いに見かけることが増えていると思います。<br>
    一緒に暮らし、当たり前になってきた日常を見直し、相手に感謝を伝えるきっかけになればという思いで制作しました。
  </p>
</div>
<div class="about-backcolor"></div>