<div class="room-section">
  <h1>ルーム検索</h1>
  <div class="room-section__search-form">
    <%= form_with url: room_search_path, method: :get, local: true do |f| %>
      <%= f.text_field %>


  </div>
</div>