@import 'share/variables';

.show-container {
  background-color: rgba(0,0,0,0.5);
  font-family: $font-family2;
  padding: 0;
  width: 800px;
  height: 500px;
  position: relative;

  &__image {
    width: inherit;
    height: inherit;

    & img {
      width: inherit;
      height: inherit;
      object-fit: cover;
    }
  }
}

.show-group {
  width: 40%;
  min-height: 5rem;
  background-color: rgba(225,225,225,0.7);
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0;

  &__link {
  }
  &__title {
    font-size: 30px;
    margin-bottom: 1rem;
  }
  &__icon {
  }
  &__label {
  }
  &__text {
    margin-top: 1rem;
  }
}