@import "share/variables";

.monsters-container {
  @extend %default-container;
  font-family: $font-family2;

  &__title {
    @extend %default-title;

    &--top {
      @extend %default-title;
      font-size: 3rem;
    }
    &--slide {
      @extend %default-title;;
      cursor: pointer;
    }
  }
  &__lead {
    margin-bottom: 3rem;

    &__text {
      margin-top: 1rem;
    }
  }
}

#new-monster-form {
  display: none;
}

.monster-form-wrapper {
  width: 80vw;
  margin: 0 auto;

  &__form-group {
    @extend %default-form-group;
    display: flex;
    flex-wrap: wrap;

    &__label {
      @extend %default-label;
      font-size: 1rem;
    }
    &__field {
      @extend %default-field;

      & input, select{
        @extend %default-input;

        &:focus {
          @extend %default-focus;
        }
      }
      &--large {
        @extend %default-field;

        & input {
          @extend %default-input;
          height: 7rem;

          &:focus {
            @extend %default-focus;
          }
        }
      }
    }
    &__lead {
      @extend %default-lead;
    }
    &__btn {
      @extend %default-form-btn;

      &--wide {
        @extend %default-form-btn;
        width: auto;
      }
      &:hover {
        @extend %default-form-btn-hover;
      }
    }
  }
}

.monster-card {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & a {
    text-decoration: none;
  }

  &__unit {
    width: 250px;
    height: 300px;
    color: $thema-color3;
    background-color: $base-color3;
    border-radius: 5%;
    box-shadow: 2px 2px 2px 2px $base-color2;
    text-align: center;
    margin: 0 1rem 2rem;
    transition: transform 300ms ease;
    position: relative;

    &:hover {
      transform: scale(1.1, 1.1);
    }
    &--image {
      width: 250px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }
    &--image img{
      width: 250px;
      height: 10rem;
      object-fit: cover;
      position: relative;
      top: 2rem;
    }
    &__icon {
      font-size: 30px;
      color: $thema-color3;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
    &__top {
      font-size: 18px;
      background-color: $thema-color2;
      padding: 0.5rem 0;
      position: relative;
      top: 1rem;
    }
    &__name {
      font-size: 20px;
      margin: 3.5rem auto 1rem;
    }
  }
}