<div class="inquiry-container">
  <h1 class="inquiry-container__title">お問い合わせ</h1>
  <p class="inquiry-container__lead">お問い合わせいただきありがとうございました。</p>
  <p class="inquiry-container__lead">
    問い合わせ完了メールを送信しました。<br>
    恐れ入りますが、メールが届かない場合は、メールアドレスを確認していただき、再度お問い合わせをして頂きますようお願い致します。
  </p>
</div>