// テーマカラー
  $thema-color1: #82cddd; // 青
  $thema-color2: #e6bfb2; // ピンク
  $thema-color3: #504946; // 茶色
  $base-color1: #f7f6f5; // きなり白
  $base-color2: #d3d3d8; // グレー
  $base-color3: #fff;  // 真っ白

// ボタン
%default-btn {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  border: 1px $base-color3 solid;
  border-radius: 10%;
  padding: 10px 20px;
  transition: .3s;
}

// コンテナ用
%default-container {
  padding: 5rem 2rem 5rem;
  box-sizing: border-box;
  background-color: $base-color1;
}

// タイトル用
%default-heading {
  color: $thema-color3;
  border: 1px solid $thema-color3;
  border-radius: 15%;
  background-color: $base-color1;
  padding: 1rem 2rem;
  display: inline-block;
}