/*
 *= require share/reset
 *= require_tree .
 *= require_self
 */
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @font-face {
  font-family: 'CP_Revenge';
  src: font-url('/assets/fonts/CP_Revenge.otf');
 }
 @import "share/variables";

body {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: $font-family1;
}

.flash-area {
  width: 100%;
  color: $base-color3;
  line-height: 2rem;
  text-align: center;
  font-family: $font-family2;
  position: fixed;
  top: 3rem;
  z-index: 8;

  .notice {
    background-color: $thema-color1;
  }
  .alert {
    background-color: $point-color1;
  }
}

#error_explanation {
  width: 50vw;
  border: 1px solid $point-color1;
  border-radius: 10px;
  padding: 2rem;
  margin: 1rem auto;

  & ul {
    list-style: none;
  }
}

.pagination {
  text-align: center;
  margin: 0 auto;
}

.pagination > span a{
  color: $thema-color3;
  border: 1px solid $thema-color3;
  background-color: $base-color3;
  text-decoration: none;
  padding: 0.2rem;
}

.pagination > .current {
  color: $thema-color3;
  border: 1px solid $thema-color3;
  background-color: $thema-color3-light;
  padding: 0.2rem;
}
