/*
 *= require reset
 *= require_tree .
 *= require_self
 */
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @font-face {
  font-family: 'CP_Revenge';
  src: font-url('/assets/fonts/CP_Revenge.otf');
 }

body {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Gurmukhi MN','Roman','ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
}

.flash-area {
  color: white;
  text-align: center;

  .notice {
    background-color: lightBlue;
  }
  .alert {
    background-color: orange;
  }
}

