@import 'share/variables';

.room-container {
  @extend %default-container;
}
.room-section {
  width: 80vw;
  display: flex;

  &__block {
    width: 30vw;
    margin: 0 auto;

    &__title {
      @extend %default-title;
    }
  }
}

.room-form-wrapper {
  width: 50vw;

  &__form-group {
    @extend %default-form-group;

    &__label {
    @extend %default-label;
    }
    &__field {
      @extend %default-field;

      &input {
        @extend %default-input;

        &:focus {
          @extend %default-focus;
        }
      }
    }
    &__btn {
      @extend %default-form-btn;

      &:hover {
        @extend %default-form-btn-hover;
      }
    }
  }
}