@import 'share/variables';

.room-container {
  @extend %default-container;

  &__title {
    @extend %default-title;
    margin: 0 0 2rem;
    text-align: center;
  }
  &__lead {
    text-align: center;
    margin-bottom: 2rem;
  }
  &__link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &--mb {
      margin: 0 1rem 3rem 0;
    }
  }
}

.room-form-wrapper {

  &__form-group {
    @extend %default-form-group;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__label {
    @extend %default-label;
    }
    &__field {
      @extend %default-field;

      & input {
        @extend %default-input;

        &:focus {
          @extend %default-focus;
        }
      }
    }
    &__lead {
      @extend %default-lead;
      text-align: center;
      margin-bottom: 1rem;
    }
    &__btn {
      @extend %default-form-btn;

      &:hover {
        @extend %default-form-btn-hover;
      }
    }
  }
}