@import 'share/variables';

.session-container {
  @extend %default-container;

  &__title {
    @extend %default-title;
    text-align: center;
  }
}

.session-form-wrapper {
  width: 80vw;
  margin: 0 auto;

  &__form-group {
    @extend %default-form-group;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__label {
    @extend %default-label;
    }
    &__field {
      @extend %default-field;

      & input {
        @extend %default-input;

        &:focus {
          @extend %default-focus;
        }
      }
    }
    &__btn {
      @extend %default-form-btn;

      &:hover {
        @extend %default-form-btn-hover;
      }
    }
  }
}