@import "share/variables";
@import "users/user-edit";

.user-container {
  @extend %default-container;

  &__title {
    @extend %default-title;
    font-size: 40px;
    margin: 0 auto 2rem;
    text-align: center;
  }
  &__foot {
    color: $base-color2;
    text-decoration: none;
    text-align: right;

    &:hover {
      color: $thema-color3;
    }
  }
}

.profile-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__left {
    margin: 0 2rem;

    & img{
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  &__right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.profile-col {
  margin: 1rem 2rem;
  color: $thema-color3;
  position: relative;

  &__name {
    font-size: 30px;
  }
  &__item {
    font-size: 15px;
    background:linear-gradient(transparent 80%, $thema-color1 0%);
    margin: 0.5rem 0;

    &--big {
      font-size: 30px;
    }
  }
  &__btn {
    @extend %default-btn;
    color: $base-color1;
    background-color: $thema-color3;
    margin: 2rem auto;
    position: absolute;
    right: 0;
    left: 0;
  }
}

.link-group {
  font-family: $font-family2;
  margin: 4rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    width: 16rem;
    font-size: 2rem;
    line-height: 2rem;
    color: $thema-color3;
    text-align: center;
    border: 1px solid $thema-color3;
    background-color: $base-color3;
    border-radius: 10px;
    text-decoration: none;
    padding: 2rem 1rem;
    margin: 0 2rem 3rem;
    transition: transform 300ms ease;

    &:hover {
      color: $base-color3;
      background-color: $thema-color1;
      border: 1px solid $base-color3;
      transform: scale(1.1, 1.1);
    }
  }
}